.landing-page {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.hero-section {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #EAF3FA 0%, #BFE1FD 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
